<%= turbo_stream.update("flash", partial: "layouts/flash_messages") %>

<%= turbo_stream.update("subject_assessments_counts") do %>
  <div class="bg-gray-300 px-2">Total number of assessments submitted: <%= @classroom.subject_assessments.count %></div>
<% end %>

<%= turbo_stream.remove(@subject_assessment) %>