<%= turbo_stream.update(dom_id(@subject_assessment)) do %>
  <div class="mt-2 text-2xl text-green-700 flex flex-col justify-center items-center">Deleted successfully</div>
<% end %>
<%= turbo_stream.update("subject_assessments_counts") do %>
  <div class="bg-gray-300 px-2">Total number of assessments submitted: <%= @classroom.subject_assessments.count %></div>
<% end %>