<%= turbo_frame_tag "new_user_role" do %>
  <div class="flex flex-col justify-start items-center">
    <%= link_to user_path(current_user), data: {"turbo_frame": "_top"}, class: "text-gray-500" do %>
      <i class="fa-solid fa-circle-xmark"></i> close
    <% end %>
    <%= render "user_roles/form", user: @user, user_role: @user_role %>
    <%= turbo_frame_tag "user_role_flash" do %>
      <div></div>
    <% end %>
  </div>
<% end %>