<div class="min-h-screen">
  <div class="mt-16 flex flex-col items-center space-y-6">
    <%= image_tag "logo.png", width: '400' %>
    <div class="text-4xl oswald-light">Welcome to WEC Student Assessments</div>
  </div>
</div>