<% if notice %>
  <div class="flex justify-center items-center text-lg text-green-700 bg-green-200 py-2">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="flex justify-center items-center text-lg text-red-700 bg-red-200 py-2">
    <%= alert %>
  </div>
<% end %>
  