<div class="h-16 bg-gray-200 text-gray-800 flex justify-around items-center shadow-xl">
  <div class="flex justify-center items-baseline space-x-3">  
    <%= link_to root_url, class: "px-1 py-1 kaushan-regular text-xl rounded-xl hover:border-l-4 hover:border-b-2 hover:border-gray-500" do %>
      Student Assessment
    <% end %>
    <%= link_to teachers_url, class: "montserrat-regular px-1 py-1 rounded-xl hover:border-l-2 hover:border-b hover:border-gray-500" do %>
      All Teachers
    <% end %>
  </div>
  <div class="px-3 py-1 bg-blue-700 text-gray-50 montserrat-regular rounded">Log in</div>
</div>